* {
    margin: 0;
    color: #333;
    background-color: #faf9f7;
}
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0% auto;
}
.navbar h1 {
    color:rgb(144, 153, 154)
}
.navbar a {
    margin-left: 28px;
    text-decoration: none;
    padding: 6px;
}
.contact-tab {
    margin-right: 35px;
    padding: 15px;
}
.about-section {
    display: flex;
    flex-direction: column;
}
.projects {
    display: flex;
    flex-wrap: wrap;
}
.contact-section{
    background-color: cadetblue;
}
.form {
    margin: 10px;
    padding: 5px;
    padding-right: 22px;
    background-color: cadetblue;
}